@tailwind base;
@tailwind components;
@tailwind utilities;

.table :where(th, td) {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    vertical-align: middle;
}

thead>tr>th:first-child,
tbody>tr>td:first-child {
    background-color: inherit;
    position: sticky;
    left: 0;
    z-index: 10;
}

th,
td {
    border: 1px solid hsl(210, 25%, 90%);
}

thead {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 20;
}

tr:nth-child(even) {
    background-color: white;
}

tr:nth-child(odd) {
    background-color: #f5f7f9;
}

.ts-wrapper .ts-control{
    @apply text-sm
}

.checkbox:checked, .checkbox[aria-checked="true"] {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}