@tailwind base;
@tailwind components;
@tailwind utilities;

.table :where(th, td) {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    vertical-align: middle;
}

thead>tr>th:first-child,
tbody>tr>td:first-child {
    background-color: inherit;
    position: sticky;
    left: 0;
    z-index: 10;
}

th,
td {
    border: 1px solid hsl(210, 25%, 90%);
}

thead {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 20;
}

tr:nth-child(even) {
    background-color: white;
}

tr:nth-child(odd) {
    background-color: #f5f7f9;
}